#title {
    font-size:5em;
    color:ghostwhite;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     margin: .5em 0 0 0;
}

#title-p {
    font-size:2em;
    color:ghostwhite;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     margin:.2em 0 0 0;;
}

