body {
    text-align: center;
    background-color:orchid
}

.buttons {  /*main buttons on home page*/
    font-size:1em;
    margin-top:4em;
    padding: 1em 2.5em 1em 2.5em; /*top right bottom left*/
    border-radius: 1em;
    background-color:ghostwhite
}

.close-button {  /*button to close affirmation window*/
    background-color:orchid;
    color:ghostwhite;
    border-radius:1em;
}
